@use "../style/_mixins.scss" as mixins;

.companies {
    padding-block: 5rem;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem 2rem;
        flex-wrap: wrap;
    }

    img {
        width: 11rem;

        @include mixins.respond(phone) {
            margin-inline: auto;
        }
    }
}
