@use "../style/mixins.scss";

.companies {
    padding-block: 5rem;
    

     &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem 2rem;
        flex-wrap: wrap;
    }

    img {
        width: 11rem;

        @include respond(phone) {
            margin-inline: auto;
        }
    }
}
